@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


a{
	color: #fff !important;
}
p{
	margin: 0;
}
section{
	padding: 60px 0;
}

/*header*/
header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(16,29,44,.95),rgba(16,29,44,.95)),
				url("img/background.png") center no-repeat;
	background-size: cover;
	position: relative;
}
header > .container{
	position: relative;
	height: 100%;
	padding: 0;
}
.navbar-brand{
	position: absolute;
	width: 100%;
	/*height: 100px;*/
	max-width: 300px;
	top: 0;
	left: 0;
	transform: translateX(-50%);
	transition: opacity 650ms;
}
.navbar-brand:hover{
	opacity: .8;
}
.hamburger-menu{
	position: fixed;
	top: 25px;
	right: 15px;
	width: 50px;
	height: 50px;
	display: flex;
	background-color: #101D2C;
	border-radius: 4px;
	z-index: 999;
	cursor: pointer;
}
.hamburger-menu i{
	font-size: 30px;
	color: rgba(198,153,99,.7);
	margin: auto;
}
.hamburger-menu .fa-times{
	display: none;
}
.hamburger-menu .fa-times.open{
	display: block;
}
.hamburger-menu .fa-bars.open{
	display: none;
}
.nav-list{
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	list-style: none;
	background-color: #101D2C;
	z-index: 900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transform: scale(0);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.5px;
	font-size: 20px;
	transition: opacity 650ms;
} 
.nav-list.open{
	opacity: 1;
	transform: scale(1);
}
.hero-text{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -45%);
	text-align: center;
}
.hero-text h1{
	font-family: "Niconne", cursive;
	color: #c69963;
	letter-spacing: 2.5px;
}
.hero-text p{
	color: rgba(169,169,169,1);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 16px;
}
.btn{
	width: 100px;
	padding: 5px 0 !important;
	border: 1px solid #c69963;
	position: relative;
	color: rgb(192, 192, 192) !important;
	font-family: 'Teko', sans-serif;
	font-weight: 350;
	text-transform: uppercase;
	letter-spacing: 2.2px;
	overflow: hidden;
}
.btn::before{
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(120deg, transparent, rgba(255, 255, 255, .3), transparent);
	transition: all 650ms;
}
.btn:hover::before{
	left: 100%;
}

/*about*/
.container-fluid .section-heading h4{
	letter-spacing: 2px;
}
.container-fluid .section-heading h1{
	letter-spacing: 2px;
	text-transform: capitalize;
}
.section-heading h4{
	text-transform: uppercase;
	color: #101D2C;
	line-height: 0;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
}
.section-heading h1{
	font-family: 'Niconne', cursive;
	color: #c69963;
}
.about .btn{
	width: 150px;
	color: #101D2C !important;
	transition: background-color 650ms;
	font-family: 'Teko', sans-serif;
	font-weight: 250;
	letter-spacing: 1px;
}
.about .btn:hover{
	color: #c69963 !important;
	background-color: #101D2C;

}
.about p{
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	color: rgba(0,0,0,.8);
}
.menu{
	background-color: #101D2C;
	text-align: center;
}
.shop-info i{
	color: #c69963;
	font-size: 40px;
}
.shop-info h1{
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	color: rgba(255, 255, 255, .8);
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}
.shop-info p,
.shop-info address{
	color: rgba(255, 255, 255, .5);
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1.5px;
}
hr{
	border-top: 1px solid rgba(255, 255, 255, .05);
}
.point-right,
.point-left{
	position: relative;
	background-color: #fff;
	display: flex;
}
.point-left::before,
.point-right::before{
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: inherit;
	top: -12px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	z-index: 1;

}
.menu-item-desc{
	padding: 50px 10px;
	margin: auto;
	color: #212529;
}
.menu-item-desc h6{
	color: #c69963;
	font-size: 20px;
	font-family: 'Teko', sans-serif;
	letter-spacing: 1px;
}
.menu-item-desc h1{
	color: #101D2C;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 1px;
	font-weight: 300;
}
img{
	height: 800px;
	width: 800px;
}

/*chef start*/
.card-body h1{
	font-size: 30px;
	letter-spacing: 1.5px;
	font-family: 'Teko', sans-serif;
	font-weight: 300;
}
.card-body h6{
	font-size: 20px;
	color: #c69963;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 4px;

}
.card-body p{
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	margin-top: 8px;
}
footer{
	background-color: #101D2C;
	color: rgba(169, 169, 169, 1);
	letter-spacing: .8px;
}
/*chef end*/
@media(min-width: 576px){
	.navbar-brand{
		max-width: 150px;
	}
	.hamburger-menu{
		top: 35px;
		right: 25px;
	}
	.point-right::before,
	.point-left::before{
		display: none;
	}
	.menu-item-desc{
		padding: 50px 20px;
	}
}
@media(min-width: 768px){
	.btn{
		width: 150px;
	}
}
@media(min-width: 992px){
	header > .container{
		padding: 0 15px;
		
	}
	.hamburger-menu{
		display: none;
	}
	.navbar-brand{
		position: initial;
		transform: initial;
	}
	.nav-list{
		position: initial;
		width: initial;
		height: initial;
		background-color: initial;
		flex-direction: row;
		opacity: initial;
		transform: initial;
		transition: initial;
		margin: 0;
		padding: 0;
		font-family: 'Raleway', sans-serif;
		letter-spacing: 1px;
	}
	.nav-item{
		margin: 0 30px;
	}
	.nav-item:last-child{
		margin-right: 0;
	}
	.nav-link{
		position: relative;
		padding: 0;
	}
	.nav-link::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: -3px;
		width: 100%;
		height: 2px;
		background-color: #c69963;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 650ms;
	}
	.nav-link:hover::before{
		transform: scaleX(1);
	}
}
@media(min-width: 1200px){
	.point-left::before,
	.point-right::before{
		display: block;
		top: 50%;
		left: initial;
		transform: translate(0, -50%) rotate(45deg);
	}
	.point-left::before{
		left: -12px;
	}
	.point-right::before{
		right: -12px;
	}
	.menu-item-desc p{
		display: none;
	}
	.menu-item-desc .btn{
		color: #c69963 !important;
		background-color: #101D2C;
	}
}